@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jersey:var(--font-jersey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
}

.landing_container {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%; /* Allow it to take full width */
  max-width: 1290px; 
  flex-grow: 0; /* Prevent flexbox stretching */
  flex-shrink: 0; /* Prevent shrinking */
  box-sizing: border-box; /* Ensure padding/border doesn't affect width */
  margin: 0 auto; /* Center the container horizontally */
}